.acordeon{
    background-color:#fed120;
    color:black;
    cursor:pointer;
    padding:20px;
    width:100%;
    border:none;
    outline:none;
    text-align:center;
    font-size:18px;
    border-radius:10px;
}
.panel{
    padding:0px 20px;
    background-color:cornsilk;
    overflow: hidden;
    display:none;
}
.active{
    background-color:orange;
}