*{
    box-sizing:border-box;
    margin:0;
}
#main{
    width:95%;
    margin:2rem auto 0;
    border:1px solid black;
}
h1{
    text-align:center;
}
#formIntroducir{
    width:75%;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    border:2px solid red;
}
textarea{
    resize:none;
    height:3rem;
}
h1,label,textarea{
    margin:0 0 1rem;
}
input[type="submit"]{
    width:6rem;
    margin:0 auto;
}
#resultados{
    display:flex;
    flex-wrap:wrap;
}
#resultados div{
    width:10rem;
}

@media (min-width:576px){
    #formIntroducir{
        width:45%;
    }
    
}